# macOS
.DS_Store

# Xcode / iOS
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
**/.xcode.env.local
ios/tmp.xcconfig
*.app.dSYM.zip
*.mobileprovision

# Android / IntelliJ
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore
*.jks

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log

# Yarn (Plug'n'Play, versions, etc.)
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
/.pnp
.pnp.*

# Expo / React Native
.expo/
.expo/*
expo-env.d.ts
web-build/
dist/
.next/
.out/
.turbo/
.cache/
vendor/
app-example

# Metro
.metro-health-check*

# Fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Ruby / CocoaPods
**/Pods/
/vendor/bundle/

# Testing
coverage/
test-results/
storybook-static/

# Build outputs
/build
*.jsbundle
next-env.d.ts

# Environment files
.env*
.env*.local
!apps/web/environments/.env*

# Keys / Certificates
google-key.json
apple-key.p8
*.cer
*.pem
*.p8
*.p12
*.key
*.orig.*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# Misc
*.orig.*
